<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>

    <body>
        <h1>The Home Page <%= 'Hello World'.toUpperCase() %></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti odio voluptatibus vitae. Ut explicabo
            molestiae repellat illum quis aut saepe quia quaerat nobis. Aliquam ea, dolorum sint officia veritatis
            numquam.
        </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore saepe aperiam maiores quasi, atque iure
            voluptatibus sed accusantium similique eaque reiciendis ipsam ea debitis culpa tenetur iste neque rerum
            magni.
        </p>
    </body>

</html>